<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <div class="container-fluid">
                <h1 class="display-4">Mission to Mars</h1>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
                </p>
            </div>
        </div>

        <div class="container-fluid pb-4">
            <h2>Latest Mars News</h2>
            <hr>
            <p>
                <h4>{{ data.news_title }}</h4>
                {{ data.news_paragraph }}
            </p>
        </div>
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <img src="{{ data.feature_img_url }}" alt='Mars Featured Image' class='img-fluid'
                        style='width:100%;'>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Current Weather on Mars</h4>
                            <p class="card-text">{{ data.mars_weather}}</p>
                        </div>
                    </div>
                    <div class="container pt-5">
                        <h4>Mars Facts</h4>
                        {{ data.mars_facts_html|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center pt-4">
            <h2>Mars Hemispheres</h2>
            <hr>
            <div class="row">
                {% for hemisphere in data.hemisphere_image_urls %}
                <div class="col-md-6">
                    <div class="card m-5">
                        <img class="card-img-top" src="{{ hemisphere.img_url }}" alt=" {{ hemisphere.title }} Image"
                            class='img-fluid'>
                        <div class="card-body">
                            <h5 class="card-title">{{ hemisphere.title }} </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</body>

</html>